# The public IP address of your host (e.g. your VPS)
PUBLIC_IPv4="1.2.3.4"

# This is usually the same as your public IP, but some ISPs give you an IP on a
# private network and NAT traffic from your public address.  You can set this
# accordingly.
HOST_IPv4="10.20.30.1"

# The domain you have registered with a registrar.
DOMAIN="example.com"

# Your main email user account name
PRIMARY_USER="alice"

# Define the container details
CONTAINER_NAME="mymail"
LXD_NETWORK="lxdbr0"

# Define the hostname for your SMTP server and WebMail
# These will become mail.example.com and webmail.example.com
SMTP_HOST="mail"
WEBMAIL_HOST="webmail"

# Optionally, you can define a 'www' host. This will simply
# include this host in the SSL/TLS certificate.
# WWW_HOST="www"
